{{ template "chrome/header.html" . }}

<div class="container">

  {{ range .Data.Pages }}
  <div class="row">
    <div class="one column">&nbsp;</div>

    <div class="six columns">
      <span class="post-title"><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a> <br /></span>
      <p class="post-date">{{ .Date.Format "January 2, 2006" }}</p>
      <span class="post-description">{{ .Description }}</span>
    </div>

    <div class="four columns">
      <p>
        {{ range .Params.categories }} 
        <span class="label">{{ . }}</span>
        {{ end }}
      </p>
    </div>

    <div class="one column">&nbsp;</div>
  </div>
  {{ end }}

</div>


{{ template "chrome/footer.html" . }}

