{{ template "chrome/header.html" . }}

  <div class="container">
    <div class="row">
      <div class="two columns">&nbsp;</div>
      <div class="eight columns">
        <h2>{{ .Title }}</h2>
        <p class="post-date">{{ .Date.Format "January 2, 2006" }}</p>

        {{ .Content }}

        <section id="prev">
          {{if .Prev}}Previous post: <a class="previous" href="{{.Prev.Permalink}}"><i class="icon-arrow-left"></i> {{.Prev.Title}}</a><br>{{end}}
        </section>

        <section id="next">
          {{if .Next}}Next post: <a class="next" href="{{.Next.Permalink}}">{{.Next.Title}} <i class="icon-arrow-right"></i></a>{{end}}
        </section>
      </div>
      <div class="two columns">&nbsp;</div>
    </div>
  </div>

{{ template "chrome/footer.html" . }}
