{{ template "chrome/header.html" . }}

  <div class="container">
    <div class="row">
      <div class="two columns">&nbsp;</div>
      <div class="eight columns">
        <h2>{{ .Title }}</h2>
        <p class="post-date">{{ .Date.Format "January 2, 2006" }}</p>

        {{ .Content }}

        <section id="prev">
          {{if .NextPage}}Next post: <a class="previous" href="{{.NextPage.Permalink}}"><i class="icon-arrow-left"></i> {{.NextPage.Title}}</a><br>{{end}}
        </section>

        <section id="next">
          {{if .PrevPage}}Previous post: <a class="next" href="{{.PrevPage.Permalink}}">{{.PrevPage.Title}} <i class="icon-arrow-right"></i></a>{{end}}
        </section>
      </div>
      <div class="two columns">&nbsp;</div>
    </div>
  </div>

{{ template "chrome/footer.html" . }}
