/* Post date */
.post-title {
    font-size: 2rem;
}
.post-title a {
    text-decoration: none;
}

.post-date {
  color: rgb(125, 125, 125);
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 15px;
}
.post-block .post-date {
    margin-bottom: 5px;
}
.post-description {
    font-size: 1.2rem;
}

/* Nav */
.logo {
    font-size: 2.0rem;
    padding-right: 1.5rem;
}
.top-nav {
    margin-top: 20px;
}
.top-nav a {
    text-decoration: none;
}
ul.nav li {
    display: inline;
    padding-right: 1rem;
}

ul.nav li a {
    color: rgb(125, 125, 125);
}

ul.nav li a:hover {
    color: rgb(100, 100, 100);
}

.about-image {
  border-radius: 25px;
  float: right;
  margin: 10px 10px 10px 0px;
}

/* Post listings */
.post-listing ol {
    list-style-type: none;
    margin: 0;
}
.post-listing .post-date {
    margin: 0;
}
.post-listing ol li {
    float: left;
    width: 50%;
    margin-bottom: 20px;
}

/* Polaroids */
.aligncenter {
  margin-left: auto;
  margin-right: auto;
}
.wp-caption {
  margin-bottom: 10px;
  text-align: center;
}
.wp-caption-text {
  font-size: 1rem;
  font-style: italic;
  color: rgb(125, 125, 125);
}
.wp-caption img {
  background-color: #F3F3F3;
  border: 1px solid #DDDDDD;
  border-radius: 3px 3px 3px 3px;
  max-width: 100%;
  padding: 4px 4px 4px 4px;
  text-align: center;
}
.headline-image {
  text-align: left;
}

/* Code snippets */
code {
    color: #3E3E3E;
    background-color: #EAEAEA;
    border: 1px solid #DBDBDB;
    font-size: 15px;
}

/* Next and previous post links */
#prev {
    margin-bottom: 1.5rem;
}
#next {
    margin-bottom: 2.5rem;
}

/* Footer */
#footer {
  font-style: italic;
  margin: 15px 0px 0px 0px;
  padding-top: 5px;
  width: 100%;
}
#footer p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

/* Labels */
.label {
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  margin-bottom: inherit;
  padding: 0.25rem 0.5rem 0.375rem;
  font-size: 1rem;
  background-color: #008cba;
  color: white; 
}
