{{ template "chrome/header.html" . }}

<div class="container">

    {{ range first 5 .Data.Pages }}
    <div class="row">
      <div class="two columns">&nbsp;</div>
      <div class="eight columns">
        {{ .Render "summary" }}
        <hr />
      </div> 
      <div class="two columns">&nbsp;</div>
    </div>
    {{ end }}

    <div class="row">
      <div class="two columns">&nbsp;</div>
      <div class="eight columns">
        <p>View older posts in <a href="/posts" title="Posts archive">the posts archive</a>...</p>
      </div>
      <div class="two columns">&nbsp;</div>
    </div>

</div>

{{ template "chrome/footer.html" . }}
